html, body{
	background-image: url("https://images.wallpaperscraft.com/image/mountains_sky_clouds_beautiful_black_and_white_88041_1920x1080.jpg"); 
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
  background-position: center;
  background-repeat: no-repeat;
  

}

.red{
	
	background-color: #E8F1F8;
	
	opacity: 0.86;
	 

}
.cv{
	margin: 50px 50px;
	box-shadow: -30px 50px 30px;
	display:flex;
	flex-direction: wrap;

}
.ph{
	width: 80px;
	height: 80px;
}
.st{

	margin:1px 30px 1px;
	width:75px;
	height: 75px;
	/*border-radius: 40%;*/
}
.htcs{
	width: 120px;
	height: 80px;

}
.ub{
	margin:1px 30px 1px;
	width: 70px;
	height: 70px;
}
.off{
/*	margin:1px 0px 1px;
*/	width: 70px;
	height: 70px;

}
.bstr{
	/*margin:1px 1px 1px;*/
	margin:1px 30px 1px;
	width: 70px;
	height: 70px;
}


h1{
	text-align: right;

@media screen and (max-width: 1200px){
	img{
		display: none;
	}
	.red{
		height: 100%;
		width: 100%;
	}
}