html, body{
	background-image: url("https://images.wallpaperscraft.com/image/mountains_sky_clouds_beautiful_black_and_white_88041_1920x1080.jpg"); 
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}

.red{
	
	background-color: #E8F1F8;
	background-image: url("");
	opacity: 0.86;
}
.lilshadow{
	box-shadow: -15px 20px 30px;
	margin: 10px 100px 10px;
}
	
.lilshadow_2{
	box-shadow: -15px 20px 30px;
	margin: 10px 10px 10px;
}

.cv{
	margin: 50px 50px;
	box-shadow: -30px 50px 30px;
	display:flex;
	flex-direction: wrap;

}
.persona{
	background-color: lightgrey;
	height: 100%;
	text-align: center;
}	
.Pp{
	border-radius: 50%;
	margin:50px 10px;
}

}
.italic{
	font-style: italic;
}
.main{
	margin: 30px 10px;
	text-align: right;

}
.separator{
	size: 3px;
}
.main.resp{
	margin:30px 0px;
}
.phone{
	height:3em;
}
.linked{
	height: 5em;
}
img{
	margin: 10px 0px;
}
@media screen and (max-width: 1200px){
  .two{
    display: none;
  }
  .icon{
  	display: none;
  }
  .Profile{
  	margin: 10px 0px;
  }

}
@media screen and (max-width: 576px){
	html{
	font-size: 10px;
}
	.cv{
	margin: 50px 50px;
	box-shadow: -1px 5px 3px;
	display:flex;
	flex-direction: wrap;
}
article{
	background-color: white;
	box-shadow: 30%;
}
