html, body{
	background-image: url("https://images.wallpaperscraft.com/image/mountains_sky_clouds_beautiful_black_and_white_88041_1920x1080.jpg"); 
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



.red{
	
	background-color: white;
	background-image: url("");
	opacity: 0.8;
}
.cv{
	
	box-shadow: -30px 50px 30px;
	display:flex;
	flex-direction: wrap;

}
.persona{
	background-color: lightgrey;
	height: 100%;
	text-align: center;
}	
.two{
	border-radius: 50%;
	margin:50px 10px;
}

}
.italic{
	font-style: italic;
}
.main{
	margin: 30px 10px;
	text-align: right;
	/*background-color: #EBE8E2;*/
}
.separator{
	size: 3px;
}
.main.resp{
	margin:30px 0px;
}
.phone{
	height:3em;
}
.linked{
	height: 5em;
}
img{
	margin: 10px 0px;
}
@media screen and (max-width: 1200px){
  .two{
    display: none;
  }
  .icon{
  	display: none;
  }
  .Profile{
  	margin: 10px 0px;
  }

}
@media screen and (max-width: 576px){
	html{
	
	font-size: 8px;
	text-align: left;
}

	
